<nav class="navbar navbar-inverse">
  <p class="navbar-text">Signed in as: <%= current_user.email %></p>

  <ul class="nav navbar-nav">
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>

<%= form_for @post, html: { multipart: true, class: "col-md-6", id: "post-box-holder" } do |f| %>
  <div class="form-group">
    <%= f.text_area :post, class: "form-control", id: "post-box" %>
  </div>

  <div class="form-group">
    <%= f.file_field :picture, class: "form-control" %>
  </div>


  <%= f.submit class: "btn btn-primary" %>
<% end %>

<div id="posts-holder" class="col-md-6">
  <% @posts.each do |p| %>
  <div class="post">
    <div>
      <div><strong><%= p.user.email %></strong></div>
      <div><%= p.post %></div>
      <% unless p.picture_file_name.nil? %>
        <div><%= image_tag p.picture.url, width: "500px" %></div>
      <% end %>
    </div>

    <h5>Comments</h5>
    <div class="comments-holder">
      <% p.comments.order("created_at DESC").each do |c| %>
        <div><strong><%= c.user.email %></strong></div>
        <div><%= c.post %></div>
        <% unless c.picture_file_name.nil? %>
          <div><%= image_tag c.picture.url, width: "150px" %></div>
        <% end %>
      <% end %>
    </div>

    <%= form_for @post, url: posts_path(main_post_id: p.id), html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.text_area :post, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.file_field :picture, class: "form-control" %>
      </div>

      <%= f.submit "Comment", class: "btn btn-default" %>
    <% end %>
  </div>
  <% end %>
</div>
